* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

body {
  background-color: #333;
  color: #eee;
  position: relative;
}

button {
  outline: none;
  border: none;
}

.padding {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}

header {
  text-align: center;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box button {
  padding-inline: 12px;
  padding-block: 8px;
  margin-left: 8px;
}

.input-box button:hover {
  background-color: pink;
}

input {
  padding-inline: 12px;
  padding-block: 8px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul {
  list-style: none;
  margin-top: 12px;
  font-size: 0;
}

ul li {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  background-color: #5e5e5e;
  padding: 0.75rem;
  border-radius: 50px;
}

ul li button {
  padding: 8px;
  border-radius: 50px;
}

ul li button:hover {
  background-color: skyblue;
}

ul li span:first-child {
  width: 3rem;
  margin-right: 8px;
  text-align: center;
}

ul li span:nth-child(2) {
  width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
ul li span:nth-child(2).nohidden {
  overflow: visible;
  text-wrap: wrap;
}

ul .line span:nth-child(2) {
  text-decoration: line-through;
}

h2 {
  position: fixed;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
